@import "tailwindcss";

@theme {
  --color-red-50:      rgba(254.195, 242.144, 242.144);
  --color-red-100:     rgba(254.822, 225.839, 225.848);
  --color-red-200:     rgba(255, 201.41, 201.457);
  --color-red-300:     rgba(255, 161.843, 162.275);
  --color-red-400:     rgba(255, 99.7439, 102.983);
  --color-red-500:     rgba(250.579, 43.8083, 54.3329);
  --color-red-600:     rgba(231.147, 0, 10.7647);
  --color-red-700:     rgba(193.006, 0, 7.33236);
  --color-red-800:     rgba(158.663, 7.3416, 17.5792);
  --color-red-900:     rgba(129.838, 23.5438, 25.6752);
  --color-red-950:     rgba(70.2261, 8.05625, 8.79689);
  --color-orange-50:   rgba(255, 247.109, 236.962);
  --color-orange-100:  rgba(255, 236.863, 212.309);
  --color-orange-200:  rgba(255, 214.484, 167.493);
  --color-orange-300:  rgba(255, 184.18, 105.551);
  --color-orange-400:  rgba(255, 136.941, 3.52942);
  --color-orange-500:  rgba(255, 104.737, 0);
  --color-orange-600:  rgba(244.98, 73.4886, 0);
  --color-orange-700:  rgba(201.93, 52.8538, 0);
  --color-orange-800:  rgba(159.247, 45.0415, 0);
  --color-orange-900:  rgba(126.255, 42.1818, 11.6413);
  --color-orange-950:  rgba(67.9408, 18.9748, 5.58586);
  --color-amber-50:    rgba(255, 251.049, 234.598);
  --color-amber-100:   rgba(254.235, 243.036, 198.269);
  --color-amber-200:   rgba(253.911, 229.807, 133.158);
  --color-amber-300:   rgba(255, 210.082, 47.8394);
  --color-amber-400:   rgba(254.949, 185.503, 0);
  --color-amber-500:   rgba(252.95, 153.874, 0);
  --color-amber-600:   rgba(225.361, 113.054, 0);
  --color-amber-700:   rgba(186.606, 76.7609, 0);
  --color-amber-800:   rgba(150.528, 59.608, 0);
  --color-amber-900:   rgba(122.514, 50.9401, 6.33244);
  --color-amber-950:   rgba(69.8871, 25.1156, 1.19004);
  --color-yellow-50:   rgba(253.87, 251.89, 232.07);
  --color-yellow-100:  rgba(254.231, 249.08, 193.729);
  --color-yellow-200:  rgba(254.664, 239.988, 133.321);
  --color-yellow-300:  rgba(255, 223.445, 32.0566);
  --color-yellow-400:  rgba(251.801, 199.835, 0);
  --color-yellow-500:  rgba(239.324, 176.966, 0);
  --color-yellow-600:  rgba(208.476, 135.057, 0);
  --color-yellow-700:  rgba(166.021, 95.1684, 0);
  --color-yellow-800:  rgba(136.657, 74.6417, 0);
  --color-yellow-900:  rgba(114.874, 61.8126, 10.4304);
  --color-yellow-950:  rgba(66.7746, 31.6201, 4.44225);
  --color-lime-50:     rgba(247.106, 254.113, 231.089);
  --color-lime-100:    rgba(235.894, 252.144, 202.31);
  --color-lime-200:    rgba(216.18, 249.468, 152.975);
  --color-lime-300:    rgba(186.899, 243.566, 81.04);
  --color-lime-400:    rgba(153.623, 229.926, 0);
  --color-lime-500:    rgba(124.26, 206.529, 0);
  --color-lime-600:    rgba(94.0236, 165.11, 0);
  --color-lime-700:    rgba(72.6261, 125.333, 0);
  --color-lime-800:    rgba(60.4925, 98.9584, 0);
  --color-lime-900:    rgba(52.7896, 83.4421, 14.0854);
  --color-lime-950:    rgba(25.267, 46.2289, 2.78967);
  --color-green-50:    rgba(240.055, 253.012, 244.041);
  --color-green-100:   rgba(219.524, 251.994, 230.698);
  --color-green-200:   rgba(184.895, 247.671, 207.018);
  --color-green-300:   rgba(122.771, 241.319, 167.536);
  --color-green-400:   rgba(5.067, 223.205, 114.37);
  --color-green-500:   rgba(0, 200.725, 80.4835);
  --color-green-600:   rgba(0, 166.082, 61.7081);
  --color-green-700:   rgba(0, 130.049, 53.5014);
  --color-green-800:   rgba(1.47798, 102.377, 48.09);
  --color-green-900:   rgba(13.037, 83.8156, 43.394);
  --color-green-950:   rgba(3.05891, 46.1554, 21.2934);
  --color-emerald-50:  rgba(235.702, 252.968, 244.846);
  --color-emerald-100: rgba(208.06, 250.121, 228.612);
  --color-emerald-200: rgba(164.345, 243.732, 207.398);
  --color-emerald-300: rgba(94.3124, 233.348, 180.736);
  --color-emerald-400: rgba(0, 212.311, 145.947);
  --color-emerald-500: rgba(0, 188.391, 124.767);
  --color-emerald-600: rgba(0, 152.729, 101.741);
  --color-emerald-700: rgba(0, 121.946, 85.0544);
  --color-emerald-800: rgba(0, 96.3206, 68.997);
  --color-emerald-900: rgba(0, 78.5665, 58.6059);
  --color-emerald-950: rgba(0, 44.2803, 33.8599);
  --color-teal-50:     rgba(240.277, 253.092, 250.134);
  --color-teal-100:    rgba(203.179, 251.391, 241.16);
  --color-teal-200:    rgba(149.693, 246.701, 228.119);
  --color-teal-300:    rgba(70.2832, 236.495, 212.544);
  --color-teal-400:    rgba(0, 212.989, 189.546);
  --color-teal-500:    rgba(0, 187.006, 166.992);
  --color-teal-600:    rgba(0, 150.263, 137.009);
  --color-teal-700:    rgba(0, 119.595, 110.918);
  --color-teal-800:    rgba(0, 95.1515, 89.7943);
  --color-teal-900:    rgba(10.7108, 78.5836, 74.3978);
  --color-teal-950:    rgba(2.07097, 47.1129, 46.1098);
  --color-cyan-50:     rgba(235.876, 253.986, 254.992);
  --color-cyan-100:    rgba(206.364, 250.051, 254.117);
  --color-cyan-200:    rgba(162.345, 243.633, 253);
  --color-cyan-300:    rgba(83.3, 233.834, 252.796);
  --color-cyan-400:    rgba(0, 210.977, 242.496);
  --color-cyan-500:    rgba(0, 184.077, 218.621);
  --color-cyan-600:    rgba(0, 146.42, 184.256);
  --color-cyan-700:    rgba(0, 117.054, 148.729);
  --color-cyan-800:    rgba(0, 94.6495, 120.168);
  --color-cyan-900:    rgba(16.2507, 78.2107, 100.404);
  --color-cyan-950:    rgba(5.40292, 51.165, 68.8072);
  --color-sky-50:      rgba(239.658, 249.031, 255);
  --color-sky-100:     rgba(223.274, 241.979, 254.442);
  --color-sky-200:     rgba(184.072, 230.188, 254.238);
  --color-sky-300:     rgba(115.571, 212.075, 255);
  --color-sky-400:     rgba(0, 187.785, 255);
  --color-sky-500:     rgba(0, 165.69, 244.068);
  --color-sky-600:     rgba(0, 132.132, 209.049);
  --color-sky-700:     rgba(0, 104.967, 168.375);
  --color-sky-800:     rgba(0, 88.9993, 137.664);
  --color-sky-900:     rgba(1.7221, 74.0191, 112.482);
  --color-sky-950:     rgba(5.05282, 46.9041, 74.0931);
  --color-blue-50:     rgba(238.92, 245.829, 254.712);
  --color-blue-100:    rgba(218.851, 234.046, 254.304);
  --color-blue-200:    rgba(189.999, 218.959, 255);
  --color-blue-300:    rgba(141.931, 197.157, 255);
  --color-blue-400:    rgba(80.5288, 162.076, 255);
  --color-blue-500:    rgba(43.1798, 127.003, 255);
  --color-blue-600:    rgba(21.3229, 92.9264, 251.517);
  --color-blue-700:    rgba(19.8665, 71.1795, 229.952);
  --color-blue-800:    rgba(25.4442, 59.6114, 184.345);
  --color-blue-900:    rgba(27.8093, 56.6591, 142.166);
  --color-blue-950:    rgba(22.252, 36.4987, 85.6015);
  --color-indigo-50:   rgba(238.016, 242.03, 255);
  --color-indigo-100:  rgba(223.889, 231.004, 255);
  --color-indigo-200:  rgba(198.48, 209.914, 255);
  --color-indigo-300:  rgba(162.978, 179.043, 255);
  --color-indigo-400:  rgba(124.401, 134.262, 255);
  --color-indigo-500:  rgba(97.4549, 94.8315, 255);
  --color-indigo-600:  rgba(79.2758, 57.2232, 246.397);
  --color-indigo-700:  rgba(67.41, 45.0311, 215.433);
  --color-indigo-800:  rgba(54.9339, 41.622, 171.795);
  --color-indigo-900:  rgba(48.8703, 44.0245, 133.281);
  --color-indigo-950:  rgba(29.8691, 26.1707, 76.6579);
  --color-violet-50:   rgba(244.951, 242.959, 254.914);
  --color-violet-100:  rgba(236.906, 232.817, 254.252);
  --color-violet-200:  rgba(220.968, 213.658, 255);
  --color-violet-300:  rgba(196.367, 179.504, 255);
  --color-violet-400:  rgba(166.414, 131.818, 255);
  --color-violet-500:  rgba(141.761, 81.1318, 255);
  --color-violet-600:  rgba(127.477, 34.0947, 253.98);
  --color-violet-700:  rgba(112.12, 8.01291, 231.137);
  --color-violet-800:  rgba(93.1728, 14.1625, 192.093);
  --color-violet-900:  rgba(77.1307, 22.7246, 153.948);
  --color-violet-950:  rgba(46.5495, 12.9801, 103.62);
  --color-purple-50:   rgba(250.012, 245.083, 254.943);
  --color-purple-100:  rgba(242.903, 231.816, 254.994);
  --color-purple-200:  rgba(233.328, 212.437, 255);
  --color-purple-300:  rgba(217.873, 177.938, 255);
  --color-purple-400:  rgba(193.69, 122.349, 255);
  --color-purple-500:  rgba(172.867, 70.3652, 255);
  --color-purple-600:  rgba(152.194, 15.741, 250.246);
  --color-purple-700:  rgba(130.026, 0, 218.601);
  --color-purple-800:  rgba(109.648, 16.993, 176.14);
  --color-purple-900:  rgba(89.4341, 22.2616, 139.024);
  --color-purple-950:  rgba(59.831, 3.00393, 102.349);
  --color-fuchsia-50:  rgba(252.81, 243.976, 254.772);
  --color-fuchsia-100: rgba(250.296, 231.777, 255);
  --color-fuchsia-200: rgba(245.811, 207.402, 255);
  --color-fuchsia-300: rgba(243.55, 167.607, 255);
  --color-fuchsia-400: rgba(237.134, 106.479, 255);
  --color-fuchsia-500: rgba(225.34, 42.2654, 251.048);
  --color-fuchsia-600: rgba(199.82, 0, 222.243);
  --color-fuchsia-700: rgba(167.91, 0, 183.078);
  --color-fuchsia-800: rgba(138.056, 1.31852, 148.354);
  --color-fuchsia-900: rgba(114.218, 19.2126, 119.747);
  --color-fuchsia-950: rgba(74.9392, 0.373937, 79.2077);
  --color-pink-50:     rgba(252.786, 241.898, 247.836);
  --color-pink-100:    rgba(252.111, 230.845, 243.001);
  --color-pink-200:    rgba(251.857, 206.308, 232.236);
  --color-pink-300:    rgba(253.491, 164.852, 213.471);
  --color-pink-400:    rgba(251.33, 99.9704, 182.035);
  --color-pink-500:    rgba(246.28, 50.5254, 154.103);
  --color-pink-600:    rgba(229.841, 0, 118.17);
  --color-pink-700:    rgba(198.328, 0, 91.5253);
  --color-pink-800:    rgba(162.844, 0, 76.0012);
  --color-pink-900:    rgba(133.921, 16.137, 66.6402);
  --color-pink-950:    rgba(81.0904, 3.84635, 35.6539);
  --color-rose-50:     rgba(254.751, 240.906, 241.894);
  --color-rose-100:    rgba(255, 227, 229);
  --color-rose-200:    rgba(255, 204.282, 210.542);
  --color-rose-300:    rgba(255, 160.632, 173.277);
  --color-rose-400:    rgba(255, 99.1594, 126.055);
  --color-rose-500:    rgba(255, 31.7769, 86.4458);
  --color-rose-600:    rgba(236.485, 0, 63.4208);
  --color-rose-700:    rgba(198.519, 0, 53.7276);
  --color-rose-800:    rgba(164.906, 0, 53.9753);
  --color-rose-900:    rgba(138.848, 7.65987, 53.7282);
  --color-rose-950:    rgba(77.3025, 2.24906, 24.444);
  --color-slate-50:    rgba(248.153, 249.911, 251.669);
  --color-slate-100:   rgba(240.841, 244.926, 249.011);
  --color-slate-200:   rgba(225.918, 232.1, 240.342);
  --color-slate-300:   rgba(202.049, 213.136, 226.433);
  --color-slate-400:   rgba(144.036, 161.083, 184.936);
  --color-slate-500:   rgba(97.8976, 115.971, 141.948);
  --color-slate-600:   rgba(69.104, 85.1908, 108.168);
  --color-slate-700:   rgba(49.3425, 65.0928, 87.5892);
  --color-slate-800:   rgba(28.5926, 40.8112, 60.8615);
  --color-slate-900:   rgba(14.582, 22.9608, 43.043);
  --color-slate-950:   rgba(1.89448, 5.93685, 23.5888);
  --color-gray-50:     rgba(248.981, 250.153, 251.325);
  --color-gray-100:    rgba(242.974, 244.018, 246.105);
  --color-gray-200:    rgba(229.078, 231.142, 235.27);
  --color-gray-300:    rgba(208.85, 213.133, 219.557);
  --color-gray-400:    rgba(153.002, 161.006, 174.732);
  --color-gray-500:    rgba(105.941, 114.008, 130.177);
  --color-gray-600:    rgba(73.6525, 85.0542, 101.01);
  --color-gray-700:    rgba(53.9407, 65.0325, 82.7998);
  --color-gray-800:    rgba(29.8282, 40.9923, 56.614);
  --color-gray-900:    rgba(16.454, 23.9041, 39.98);
  --color-gray-950:    rgba(2.95411, 7.03987, 18.3283);
  --color-zinc-50:     rgba(249.965, 249.965, 249.965);
  --color-zinc-100:    rgba(243.878, 243.878, 244.632);
  --color-zinc-200:    rgba(228.092, 228.092, 231.068);
  --color-zinc-300:    rgba(211.927, 211.926, 216.328);
  --color-zinc-400:    rgba(158.766, 158.753, 169.157);
  --color-zinc-500:    rgba(112.964, 112.947, 123.37);
  --color-zinc-600:    rgba(81.9014, 81.878, 92.3374);
  --color-zinc-700:    rgba(62.8537, 62.844, 70.4986);
  --color-zinc-800:    rgba(38.9887, 38.9861, 42.2714);
  --color-zinc-900:    rgba(23.9181, 23.9172, 26.9871);
  --color-zinc-950:    rgba(9.02044, 9.01654, 11.3011);
  --color-neutral-50:  rgba(249.965, 249.965, 249.965);
  --color-neutral-100: rgba(244.95, 244.95, 244.95);
  --color-neutral-200: rgba(229.031, 229.031, 229.031);
  --color-neutral-300: rgba(212.018, 212.018, 212.018);
  --color-neutral-400: rgba(160.692, 160.692, 160.692);
  --color-neutral-500: rgba(115.137, 115.137, 115.137);
  --color-neutral-600: rgba(82.1082, 82.1082, 82.1082);
  --color-neutral-700: rgba(63.8701, 63.8701, 63.8701);
  --color-neutral-800: rgba(38.0924, 38.0924, 38.0924);
  --color-neutral-900: rgba(23.0845, 23.0845, 23.0845);
  --color-neutral-950: rgba(10.044, 10.044, 10.044);
  --color-stone-50:    rgba(250.036, 250.036, 249.278);
  --color-stone-100:   rgba(245.02, 245.02, 244.265);
  --color-stone-200:   rgba(231.211, 228.871, 227.7);
  --color-stone-300:   rgba(214.497, 211.015, 208.692);
  --color-stone-400:   rgba(166.293, 159.687, 155.279);
  --color-stone-500:   rgba(120.542, 112.711, 107.11);
  --color-stone-600:   rgba(87.3759, 82.7922, 77.0567);
  --color-stone-700:   rgba(68.4644, 63.858, 59.2445);
  --color-stone-800:   rgba(41.2141, 36.7697, 35.6586);
  --color-stone-900:   rgba(27.9256, 24.9869, 23.0283);
  --color-stone-950:   rgba(11.9746, 10.0358, 9.06384);
  --color-black: #000;
  --color-white: #fff;
}